<section class="covers">
  <div class="covers__container">
    <h2 class="hidden">Covers</h2>
    <ul class="covers__list covers__list-0">
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <ul class="covers__list covers__list-1">
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <ul class="covers__list covers__list-2">
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <ul class="covers__list covers__list-3">
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <ul class="covers__list covers__list-4">
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino@2x.jpg 2x"
          src="./img/covers/mimino.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.jpg    1x,
            ./img/covers/greenharvest@2x.jpg 2x
          "
          src="./img/covers/greenharvest.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet@2x.jpg 2x"
          src="./img/covers/wallet.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.jpg 1x, ./img/covers/english@2x.jpg 2x"
          src="./img/covers/english.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.jpg    1x,
            ./img/covers/starlightstudio@2x.jpg 2x
          "
          src="./img/covers/starlightstudio.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.jpg 1x, ./img/covers/chego@2x.jpg 2x"
          src="./img/covers/chego.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.jpg    1x,
            ./img/covers/powerpuls@2x.jpg 2x
          "
          src="./img/covers/powerpuls.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.jpg 1x, ./img/covers/fruitbox@2x.jpg 2x"
          src="./img/covers/fruitbox.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.jpg    1x,
            ./img/covers/traditional@2x.jpg 2x
          "
          src="./img/covers/traditional.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.jpg 1x, ./img/covers/energy@2x.jpg 2x"
          src="./img/covers/energy.jpg"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <div
      class="covers__background-elements covers__background-elements-1"
    ></div>
    <div
      class="covers__background-elements covers__background-elements-2"
    ></div>
    <div
      class="covers__background-elements covers__background-elements-3"
    ></div>
  </div>
</section>
