<section class="covers">
  <div class="covers__container">
    <h2 class="hidden">Covers</h2>
    <ul class="covers__list covers__list-0">
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <ul class="covers__list covers__list-1">
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <ul class="covers__list covers__list-2">
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <ul class="covers__list covers__list-3">
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <ul class="covers__list covers__list-4">
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <!-- second -->
      <li class="covers__item">
        <img
          srcset="./img/covers/mimino.png 1x, ./img/covers/mimino@2x.png 2x"
          src="./img/covers/mimino.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/greenharvest.png    1x,
            ./img/covers/greenharvest@2x.png 2x
          "
          src="./img/covers/greenharvest.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/wallet.png 1x, ./img/covers/wallet@2x.png 2x"
          src="./img/covers/wallet.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/english.png 1x, ./img/covers/english@2x.png 2x"
          src="./img/covers/english.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/starlightstudio.png    1x,
            ./img/covers/starlightstudio@2x.png 2x
          "
          src="./img/covers/starlightstudio.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/chego.png 1x, ./img/covers/chego@2x.png 2x"
          src="./img/covers/chego.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/powerpuls.png    1x,
            ./img/covers/powerpuls@2x.png 2x
          "
          src="./img/covers/powerpuls.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/fruitbox.png 1x, ./img/covers/fruitbox@2x.png 2x"
          src="./img/covers/fruitbox.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="
            ./img/covers/traditional.png    1x,
            ./img/covers/traditional@2x.png 2x
          "
          src="./img/covers/traditional.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
      <li class="covers__item">
        <img
          srcset="./img/covers/energy.png 1x, ./img/covers/energy@2x.png 2x"
          src="./img/covers/energy.png"
          alt="site photo"
          class="covers__img"
        />
      </li>
    </ul>

    <div
      class="covers__background-elements covers__background-elements-1"
    ></div>
    <div
      class="covers__background-elements covers__background-elements-2"
    ></div>
    <div
      class="covers__background-elements covers__background-elements-3"
    ></div>
  </div>
</section>
