<section class="section faq">
  <div class="container">
    <h2 class="title faq__title">FAQ</h2>

    <ul class="faq-accordion__container">
      <li class="ac faq-ac__item faq-ac__item-1">
        <h3 class="ac-header subtitle faq-ac__title">
          What programming languages ​​are most often used in your project?
          <button class="ac-trigger faq-ac__btn">
            <svg class="ac-trigger-icon" width="20" height="20">
              <use href="./img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel faq-ac__content">
          <p class="ac-text text faq-ac__text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac faq-ac__item faq-ac__item-2">
        <h3 class="ac-header subtitle faq-ac__title">
          What are the deadlines for the project?
          <button class="ac-trigger faq-ac__btn">
            <svg class="ac-trigger-icon" width="20" height="20">
              <use href="./img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel faq-ac__content">
          <p class="ac-text text faq-ac__text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac faq-ac__item faq-ac__item-3">
        <h3 class="ac-header subtitle faq-ac__title">
          What payment methods do you accept?
          <button class="ac-trigger faq-ac__btn">
            <svg class="ac-trigger-icon" width="20" height="20">
              <use href="./img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel faq-ac__content">
          <p class="ac-text text faq-ac__text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac faq-ac__item faq-ac__item-4">
        <h3 class="ac-header subtitle faq-ac__title">
          How can I contact you?
          <button class="ac-trigger faq-ac__btn">
            <svg class="ac-trigger-icon" width="20" height="20">
              <use href="./img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel faq-ac__content">
          <p class="ac-text text faq-ac__text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac faq-ac__item faq-ac__item-5">
        <h3 class="ac-header subtitle faq-ac__title">
          Do you provide advice or support?
          <button class="ac-trigger faq-ac__btn">
            <svg class="ac-trigger-icon" width="20" height="20">
              <use href="./img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel faq-ac__content">
          <p class="ac-text text faq-ac__text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac faq-ac__item faq-ac__item-6">
        <h3 class="ac-header subtitle faq-ac__title">
          What does the process of developing a software product look like from
          idea to implementation?
          <button class="ac-trigger faq-ac__btn">
            <svg class="ac-trigger-icon" width="20" height="20">
              <use href="./img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </h3>

        <div class="ac-panel faq-ac__content">
          <p class="ac-text text faq-ac__text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
