<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title"><span>Hello.</span> <span>I’m Fullstack developer</span> <span>Lloyd Jefferson.</span></h1>
    <address>
      <ul class="hero-social__list">
        <li class="hero-social__item">
          <a href="https://www.instagram.com/goitclub/" class="hero-social__link" target="_blank">IG</a>
        </li>
        <li class="hero-social__item">
          <a href="https://www.facebook.com/goITclub/" class="hero-social__link" target="_blank">FB</a>
        </li>
        <li class="hero-social__item">
          <a href="https://www.youtube.com/c/GoIT" class="hero-social__link" target="_blank">YT</a>
        </li>
        <li class="hero-social__item">
          <a href="https://github.com/prafessor/portfolio" class="hero-social__link" target="_blank">GH</a>
        </li>
        <li class="hero-social__item">
          <a href="mailto:lloydjefferson@gmail.com" class="hero-social__link">lloydjefferson@gmail.com</a>
        </li>
      </ul>
    </address>
  </div>
</section>
