<div class="modal-menu__overlay">
  <div class="modal-menu">
    <button class="modal-menu__btn-x" type="button">
      <svg class="" width="28" height="28">
        <use href="./img/sprite.svg#x"></use>
      </svg>
    </button>

    <nav class="navigation modal-navigation">
      <ul class="navigation__list modal-navigation__list">
        <li class="navigation__item">
          <a href="" class="navigation__link">About me</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Benefits</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Projects</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">FAQ</a>
        </li>
      </ul>

      <a class="cooperation__btn modal-cooperation__btn" href=""> Order the project </a>
    </nav>
  </div>
</div>