<section class="section projects" id="projects">
  <div class="container">
    <h2 class="title projects__title">Projects</h2>

    <div class="swiper projectSwiper">
      <ul class="swiper-wrapper project-swiper__wrapper">
        <li class="swiper-slide project-swiper__slide">
          <div class="project-content">
            <ul class="project-tag__list">
              <li class="project-tag__item">#react</li>
              <li class="project-tag__item">#js</li>
              <li class="project-tag__item">#node js</li>
              <li class="project-tag__item">#git</li>
            </ul>

            <h3 class="project-content__title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="https://github.com/prafessor/portfolio" class="btn btn--red projects-cooperation__btn" target="_blank"
              >See project</a
            >
          </div>

          <div class="project-image__wrapper">
            <img
              class="project-image"
              srcset="
                ./img/projects/project-journey.jpg    1x,
                ./img/projects/project-journey@2x.jpg 2x
              "
              src="./img/projects/project-journey.jpg"
              alt="Site screenshot"
            />
          </div>
        </li>

        <li class="swiper-slide project-swiper__slide">
          <div class="project-content">
            <ul class="project-tag__list">
              <li class="project-tag__item">#react</li>
              <li class="project-tag__item">#js</li>
              <li class="project-tag__item">#node js</li>
              <li class="project-tag__item">#git</li>
            </ul>

            <h3 class="project-content__title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="https://github.com/prafessor/portfolio" class="btn btn--red projects-cooperation__btn" target="_blank"
              >See project</a
            >
          </div>

          <div class="project-image__wrapper">
            <img
              class="project-image"
              srcset="
                ./img/projects/project-petlove.jpg    1x,
                ./img/projects/project-petlove@2x.jpg 2x
              "
              src="./img/projects/project-petlove.jpg"
              alt="Site screenshot"
            />
          </div>
        </li>

        <li class="swiper-slide project-swiper__slide">
          <div class="project-content">
            <ul class="project-tag__list">
              <li class="project-tag__item">#react</li>
              <li class="project-tag__item">#js</li>
              <li class="project-tag__item">#node js</li>
              <li class="project-tag__item">#git</li>
            </ul>

            <h3 class="project-content__title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="https://github.com/prafessor/portfolio" class="btn btn--red projects-cooperation__btn" target="_blank"
              >See project</a
            >
          </div>

          <div class="project-image__wrapper">
            <img
              class="project-image"
              srcset="
                ./img/projects/project-vocab.jpg    1x,
                ./img/projects/project-vocab@2x.jpg 2x
              "
              src="./img/projects/project-vocab.jpg"
              alt="Site screenshot"
            />
          </div>
        </li>
      </ul>

      <div class="swiper-button__wrapper">
        <button class="swiper-button swiper-button-prev" type="button">
          <svg class="swiper-button__icon" width="32" height="32">
            <use href="./img/sprite.svg#arrow-narrow"></use>
          </svg>
        </button>
        <button class="swiper-button swiper-button-next" type="button">
          <svg class="swiper-button__icon" width="32" height="32">
            <use href="./img/sprite.svg#arrow-narrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
