<section class="section reviews">
  <div class="container">
    <h2 class="title reviews__title">REVIEWS</h2>

    <div class="swiper reviewsSwiper">
      <ul class="swiper-wrapper reviews-swiper__wrapper"></ul>

      <div class="swiper-button__wrapper">
        <button class="swiper-button swiper-button-prev" type="button">
          <svg class="swiper-button__icon" width="32" height="32">
            <use href="./img/sprite.svg#arrow-narrow"></use>
          </svg>
        </button>
        <button class="swiper-button swiper-button-next" type="button">
          <svg class="swiper-button__icon" width="32" height="32">
            <use href="./img/sprite.svg#arrow-narrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
