<section class="work-together">
  <div class="container work-together__container">
    <div class="work-together__content">
      <div class="work-together__title-wrapper">
        <img class="work-together__image" srcset="./img/common/user-icon-image.png 1x, ./img/common/user-icon-image@2x.png 2x" src="./img/common/user-icon-image.png
        " alt="Lloyd photo">
        <h2 class="work-together__title">Let’s <span class="work-together__title--accent text-accent-red">work</span> together</h2>
      </div>
      <form class="work-together-form">
        <div class="work-together-form__field">

          <div class="work-together-form__input-email-wrapper">
            <input type="email" class="work-together-form__input" name="userEmail" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" placeholder="clients@gmail.com" />
            <span class="work-together-form__input-email-indicator"></span>
          </div>
          <input type="text" class="work-together-form__input" name="comment" placeholder="comments" />
        </div>

        <button type="submit" class="btn btn--red work-together-form__btn">Send</button>
      </form>

      <address>
        <ul class="social__list work-together-contact__list">
          <li class="social__item work-together-contact__item">
            <a href="mailto:lloydjefferson@gmail.com" class="social__link work-together-contact__link">lloydjefferson@gmail.com</a>
          </li>
          <li class="social__item work-together-contact__item">
            <a href="tel:+3801111111111" class="social__link work-together-contact__link">+380 11 1111 11 11</a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>
