@font-face {
  font-family: 'InterTight';
  src: url(../public/fonts/InterTight-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'InterTight';
  src: url(../public/fonts/InterTight-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

:root {
  /* Colors */

  --color-white: #fafafa;
  --color-red: #ed3b44;
  --color-font-gray: #3b3b3b;
  --color-gray: #242527;
  --color-black: #1c1d20;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'InterTight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  color: var(--color-white);
  background-color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.hidden {
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;

  position: absolute;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  border-radius: 60px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 14px;

  line-height: 1.2;
  letter-spacing: -0.02em;
}

.btn--red {
  background-color: var(--color-red);

  transition: background-color 250ms ease-in-out;
}
.btn--red:hover,
.btn--red:focus {
  background-color: #e0373f;
}

/* Accordion */
.ac .ac-header {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;

  display: flex;
  justify-content: space-between;
}

.ac .ac-trigger {
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ac .ac-trigger::after {
  content: '';
}

.ac .ac-trigger-icon {
  transform: rotate(180deg);

  transition: transform 250ms ease-in-out;
}

.ac.is-active .ac-trigger-icon {
  transform: rotate(0deg);
}

@media screen and (min-width: 768px) {
  .btn {
    padding-top: 18px;
    padding-bottom: 18px;

    font-size: 16px;
  }
}
