@font-face {
  font-family: 'InterTight';
  src: url(../public/fonts/InterTight-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'InterTight';
  src: url(../public/fonts/InterTight-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

:root {
  /* Colors */

  --color-white: #fafafa;
  --color-red: #ed3b44;
  --color-font-gray: #3b3b3b;
  --color-gray: #242527;
  --color-black: #1c1d20;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'InterTight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  color: var(--color-white);
  background-color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-font-gray);
}

.hidden {
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;

  position: absolute;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.btn {
  border-radius: 60px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 14px;

  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
}

.btn--red {
  background-color: var(--color-red);

  transition: background-color 250ms ease-in-out;
}
.btn--red:hover,
.btn--red:focus {
  background-color: #e0373f;
}

.btn-tranaparent {
  border: 1px solid rgba(250, 250, 250, 0.2);
  padding-top: 18px;
  padding-bottom: 18px;

  background: none;

  transition: border-color 250ms ease-in-out;
}
.btn-tranaparent:hover,
.btn-tranaparent:focus {
  border-color: var(--color-white);
}

/* Accordion */
.ac .ac-header__wrapper {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;

  display: flex;
  justify-content: space-between;
}

.ac .ac-trigger {
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ac .ac-trigger::after {
  content: '';

  display: none;
}

.ac .ac-trigger-icon {
  transform: rotate(180deg);

  transition: transform 250ms ease-in-out;
}

.ac.is-active .ac-trigger-icon {
  transform: rotate(0deg);
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .btn {
    padding-top: 18px;
    padding-bottom: 18px;

    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}
