@font-face {
  font-family: "InterTight";
  src: url(../public/fonts/InterTight-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "InterTight";
  src: url(../public/fonts/InterTight-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

:root {
  /* Colors */

  --color-white: #fafafa;
  --color-red: #ed3b44;
  --color-font-gray: #3b3b3b;
  --color-gray: #242527;
  --color-black: #1c1d20;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "InterTight", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  color: var(--color-white);
  background-color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* .hidden {
  positio
} */

.display-none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}