.covers__background-elements {
  width: 350px;
  height: 350px;
  border-radius: 100%;

  background-color: var(--color-red);
  opacity: 0.6;
  filter: blur(86px);

  position: absolute;
  z-index: -99;
}

.covers__background-elements-1 {
  top: -115px;
  left: -106px;
}
.covers__background-elements-2 {
  bottom: -161px;
  right: -209px;
}
.covers__background-elements-3 {
  display: none;
}

.covers__container {
  min-width: 320px;
  height: 508px;

  display: flex;
  flex-direction: column;
  gap: 35px;

  overflow: hidden;

  position: relative;
}
.covers__list {
  display: flex;
  gap: 32px;

  transform: rotate(16deg);

  position: absolute;
  left: 0;
}
.covers__container.is-active .covers__list {
  animation-name: marqueeLine;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.covers__list-0 {
  top: calc(150% - 200px);
}
.covers__list-1 {
  top: 150%;
}
.covers__list-2 {
  top: calc(150% + 200px);
}
.covers__list-3 {
  top: calc(150% + 400px);
}
.covers__list-4 {
  top: calc(150% + 600px);
}

.covers__item {
  width: 280px;
  height: 160px;
}
.covers__img {
  max-width: none;
  width: 100%;
  height: 100%;
}

@keyframes marqueeLine {
  from {
    /* transform: rotate(16deg) translate(-20%, -52px); */
    transform: rotate(16deg) translateX(-10%);
  }

  to {
    /* transform: rotate(16deg) translate(-100%, -52px); */
    transform: rotate(16deg) translateX(calc(-60% - 16px));
  }
}

@media screen and (min-width: 768px) {
  .covers__background-elements-1 {
    left: 54px;
  }
  .covers__background-elements-2 {
    bottom: 71px;
    right: -156px;
  }
  .covers__background-elements-3 {
    display: none;
  }

  .covers__container {
    height: 960px;

    gap: 44px;
  }
  .covers__list {
    gap: 56px;
  }

  .covers__list-0 {
    top: calc(150% - 358px);
  }
  .covers__list-1 {
    top: 150%;
  }
  .covers__list-2 {
    top: calc(150% + 358px);
  }
  .covers__list-3 {
    top: calc(150% + 716px);
  }
  .covers__list-4 {
    top: calc(150% + 1074px);
  }

  .covers__item {
    width: 544px;
    height: 314px;
  }
  .covers__img {
  }

  @keyframes marqueeLine {
    from {
      transform: rotate(16deg) translateX(-10%);
    }

    to {
      transform: rotate(16deg) translateX(calc(-60% - 28px));
    }
  }
}

@media screen and (min-width: 1440px) {
  .covers__background-elements-1 {
    top: -75px;
    left: 391px;
  }
  .covers__background-elements-2 {
    bottom: -29px;
    right: -51px;
  }
  .covers__background-elements-3 {
    display: block;

    top: 123px;
    left: -37px;
  }

  .covers__list {
    gap: 74px;
  }

  @keyframes marqueeLine {
    from {
      transform: rotate(16deg) translateX(-10%);
    }

    to {
      transform: rotate(16deg) translateX(calc(-60% - 37px));
    }
  }
}
