.faq {
  padding-bottom: 64px;
}

.faq__title {
  margin-bottom: 32px;
}

.faq-ac__item {
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin: 0;
  padding: 20px 0;
}

.faq-ac__item:first-child {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-ac-header__wrapper {
  /* gap: 44px; */
  gap: 20px;
}

.ac .faq-ac__btn {
  width: 34px;
  height: 34px;
  padding: 7px;
}

.ac .ac-panel .faq-ac__text {
  margin-top: 16px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
  .faq {
    padding-bottom: 96px;
  }

  .faq-ac__item {
    padding: 32px 0;

    transition: padding-bottom 250ms linear;
  }

  .faq-ac__item.is-active {
    padding-bottom: 24px;
  }

  .faq-ac-header__wrapper {
    gap: 44px;
  }

  .ac .faq-ac__btn {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    padding-bottom: 164px;
  }

  .faq-accordion__container {
    display: grid;
    grid-template-areas:
      'ac1 ac4'
      'ac2 ac5'
      'ac3 ac6';
  }

  .faq-ac__item.is-active {
    padding-bottom: 26px;
  }

  .faq-ac__item:nth-child(4) {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-ac__item-1 {
    grid-area: ac1;
  }
  .faq-ac__item-2 {
    grid-area: ac2;
  }
  .faq-ac__item-3 {
    grid-area: ac3;
  }
  .faq-ac__item-4 {
    grid-area: ac4;
  }
  .faq-ac__item-5 {
    grid-area: ac5;
  }
  .faq-ac__item-6 {
    grid-area: ac6;
  }
  .faq-ac__item-1,
  .faq-ac__item-2,
  .faq-ac__item-3 {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }
  .faq-ac__item-4,
  .faq-ac__item-5,
  .faq-ac__item-6 {
    padding-left: 32px;
  }
}
