.header {
  width: 100%;

  position: absolute;
  top: 32px;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  gap: 8px;
}

.menu-burger {
  width: 28px;
  height: 28px;
  border: none;

  background: none;

  cursor: pointer;
}

.navigation {
  display: none;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.navigation__list.display-none {
  display: none;
}

.navigation__link {
  display: flex;
  flex-direction: column;
}

.navigation__link::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-white);

  transition: transform 250ms ease-in-out;
}

.cooperation__btn {
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }

  .navigation {
    width: 381px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
  }
  .navigation__btn {
    border: none;
    padding: 10px;

    background: none;

    font-size: 16px;
    letter-spacing: -0.02em;
    /* text-decoration-skip-ink: none; */
    color: var(--color-white);

    display: flex;
    flex-direction: column;

    transition: color 250ms ease-in-out;
  }
  .navigation__btn::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-white);

    transition: background-color 250ms ease-in-out;
  }
  .navigation__btn:hover {
    color: var(--color-red);
  }
  .navigation__btn:hover::after {
    background-color: var(--color-red);
  }
  .navigation__list {
    gap: 5px;

    position: absolute;
    top: 47px;
    left: -3.5px;
  }
  .navigation__item {
    text-align: center;
  }
  .navigation__link {
    display: inline-flex;
    flex-direction: column;
  }
  .navigation__link::after {
    content: '';
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    background-color: var(--color-white);

    transition: transform 250ms ease-in-out;
  }
  .navigation__link:hover::after {
    transform: scaleX(1);
  }

  .cooperation__btn {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    width: 717px;
  }
}