.header {
  width: 100%;
  position: absolute;
  top: 32px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  gap: 8px;
}
.menu-burger {
  width: 28px;
  height: 28px;
  border: none;

  background: none;

  cursor: pointer;
}
.menu-burger__icon {
}
.navigation {
  display: none;
}
.navigation__list {
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.navigation__link {
  display: flex;
  flex-direction: column;
}
.navigation__link::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-white);

  transition: transform 250ms ease-in-out;
}

.cooperation__btn {
  width:  164px;
  height: 45px;
  border-radius: 60px;
  padding: 14px 32px;

  background-color: var(--color-red);

  font-size: 14px;

  line-height: 1.25;
  letter-spacing: -0.02em;

  transition: background-color 250ms ease-in-out;
}
.cooperation__btn:hover {
  background-color: #e0373f;
}

@media screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }

  .navigation {
    width: 381px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
  }
  .navigation__btn {
    border: none;
    padding: 10px;

    background: none;

    font-size: 16px;
    letter-spacing: -0.02em;
    /* text-decoration-skip-ink: none; */
    color: var(--color-white);

    display: flex;
    flex-direction: column;

    transition: color 250ms ease-in-out;
  }
  .navigation__btn::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-white);

    transition: background-color 250ms ease-in-out;
  }
  .navigation__btn:hover {
    color: var(--color-red);
  }
  .navigation__btn:hover::after {
    background-color: var(--color-red);
  }
  .navigation__list {
    gap: 5px;

    position: absolute;
    top: 47px;
    left: -3.5px;
  }
  .navigation__item {
    text-align: center;
  }
  .navigation__link {
    display: inline-flex;
    flex-direction: column;
  }
  .navigation__link::after {
    content: '';
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    background-color: var(--color-white);

    transition: transform 250ms ease-in-out;
  }
  .navigation__link:hover::after {
    transform: scaleX(1);
  }

  .cooperation__btn {
    width: 163px;
    height: 55px;
    border-radius: 60px;
    padding: 18px 24px;

    background-color: var(--color-red);

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;

    transition: background-color 250ms ease-in-out;
  }
  .cooperation__btn:hover {
    background-color: #e0373f;
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    width: 717px;
  }
}