.hero {
  padding: 280px 0 32px;

  background-image: url(../img/hero/hero-mobile.png);
  background-repeat: no-repeat;
  background-size: 83% 100%;
}
@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-mobile@2x.png);
  }
}

.hero__title {
  margin-bottom: 212px;

  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
.hero-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}
.hero-social__item {
}
.hero-social__link {
  width: 37px;
  height: 37px;
  border-radius: 60px;
  border: 1px solid #fafafa33;

  font-size: 14px;
  letter-spacing: -0.02em;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms ease-in-out;
}
.hero-social__item:last-child .hero-social__link {
  width: 178px;
}
.hero-social__link:hover {
  border-color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 300px;

    background-image: url(../img/hero/hero-tablet.png);
    background-size: 75%;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/hero-tablet@2x.png);
    }
  }

  .hero__title {
    margin-bottom: 178px;

    font-size: 90px;
  }
  .hero-social__list {
    justify-content: flex-end;
    gap: 8px;
  }
  .hero-social__item {
  }
  .hero-social__link {
    width: 55px;
    height: 55px;

    font-size: 16px;
  }
  .hero-social__item:last-child .hero-social__link {
    width: 223px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/hero-desctop.png);
    background-size: 50%;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/hero-desctop@2x.png);
    }
  }

  .hero__title {
    margin-bottom: 243px;
  }
}
