.modal-cooperation__overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(15, 15, 16, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
}

.modal-cooperation__overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.modal-cooperation__modal {
  width: 343px;
  height: 276px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  padding: 64px 32px;

  background-color: var(--color-gray);

  text-align: center;

  position: relative;
}

.modal-cooperation__btn-x {
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;

  background: none;

  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-cooperation__title {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {

  .modal-cooperation__modal {
    width: 492px;
    height: 246px;
    padding: 64px;
  }

  .modal-cooperation__title {
    letter-spacing: -0.03em;
  }

  .modal-cooperation__btn-x {
    width: 24px;
    height: 24px;
  }
}