.projects__title {
  margin-bottom: 32px;
}

.project-swiper__wrapper {
  margin-bottom: 32px;
}

.project-swiper__slide {
  border-radius: 24px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.project-content {
  padding: 32px;

  background-color: var(--color-white);

  color: var(--color-black);
}

.project-tag__list {
  margin-bottom: 96px;

  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.project-tag__item {
  border-radius: 60px;
  border: 1px solid rgba(28, 29, 32, 0.2);
  padding: 13px 18px;

  letter-spacing: -0.02em;
}

.project-content__title {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
}

.projects-cooperation__btn {
  padding: 13px 32px;

  color: var(--color-white);
  font-size: 16px;
}

.project-image__wrapper {
  height: 395px;
  padding: 100px 16px;

  background-color: var(--color-gray);
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button__wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.swiper-button {
  width: 52px;
  height: 52px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  margin: 0;
  padding: 14px;

  background: none;

  position: static;

  transition: border-color 250ms ease-in-out;
}

.swiper-button:hover,
.swiper-button:focus {
  border-color: var(--color-white);
}

.swiper-button:focus {
  outline: none;
}

.swiper .swiper-button {
  margin: 0;
}

.swiper-button__icon {
  stroke: var(--color-white);

  transition: stroke 250ms ease-in-out;
}

.swiper-button:hover .swiper-button-next__icon,
.swiper-button:focus .swiper-button-next__icon {
  stroke: var(--color-white);
}

@media screen and (min-width: 768px) {
  .project-swiper__wrapper {
    margin-bottom: 64px;
  }

  .project-content {
    padding: 64px;
  }

  .project-tag__list {
    margin-bottom: 164px;
  }

  .project-tag__item {
    border-radius: 60px;
    padding: 18px;
  }

  .project-content__title {
    font-size: 44px;
    line-height: 1;
  }

  .projects-cooperation__btn {
    padding: 18px 50px;
  }

  .project-image__wrapper {
    height: 625px;
    padding: 120px 45px;
  }

  .swiper-button__wrapper {
    gap: 20px;
  }

  .swiper-button {
    width: 68px;
    height: 68px;
    padding: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .project-swiper__slide {
    flex-direction: row;
  }

  .project-content {
    width: 50%;
  }

  .project-tag__list {
    margin-bottom: 223px;
  }

  .project-image__wrapper {
    width: 50%;
    padding: 120px 37px;
  }
}
