.reviews {
  padding-top: 64px;
}

.reviews__title {
  margin-bottom: 32px;
}

.reviews-swiper__wrapper {
  margin-bottom: 32px;
}

.reviews-swiper__slide {
  max-width: 344px;
  height: 302px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  padding: 32px 24px;
}
/* card scrollbar */
.reviews-swiper__container {
  height: 238px;
  overflow-y: auto;
}

.reviews-swiper__container::-webkit-scrollbar {
  width: 7px;
}
.reviews-swiper__container::-webkit-scrollbar-track {
  background: transparent;
}

.reviews-swiper__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-font-gray);
}

.reviews-swiper__image {
  width: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-swiper__name {
  margin-bottom: 8px;
}

.reviews-swiper__message {
  padding: 100px 0;

  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 96px;
  }

  .reviews-swiper__message {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews {
    padding-top: 164px;
  }

  .reviews-swiper__slide {
    max-width: 332px;
  }
}
