/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Libraries styles */
@import url('accordion-js/dist/accordion.min.css');
@import url('swiper/css');
@import url('swiper/css/navigation');
@import url('iziToast/dist/css/iziToast.min.css');

/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./work-together.css');

/* Modals style */
@import url('./modal-menu.css');
@import url('./modal-cooperation.css');
