.work-together {
  padding-top: 32px;
}

.work-together__container {
  padding: 0;
}

.work-together__content {
  padding: 32px 16px;

  background-image: url(../img/work-together/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.work-together__title-wrapper {
  max-width: 343px;
  margin-bottom: 64px;
}

.work-together__image {
  width: 44px;
  height: 44px;
  margin-right: 8px;

  float: left;
}

.work-together__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.work-together-form {
  margin-bottom: 64px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.work-together-form__field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.work-together-form__input-email-wrapper {
  height: 44px;

  position: relative;
}

.work-together-form__input {
  width: 100%;
  height: 44px;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding: 0;

  background-color: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--color-white);

  transition: border-color 250ms ease-in-out;
}

.work-together-form__input:focus {
  outline: none;
  border-color: var(--color-white);
}

.work-together-form__input::placeholder {
  color: rgba(250, 250, 250, 0.6);
}

.work-together-form__input.success {
  border-color: #3cbc81;
}

.work-together-form__input.invalid {
  border-color: #e74a3b;
}

.work-together-form__input-email-indicator {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;

  position: absolute;
  bottom: -20px;
  left: 0;
}
.work-together-form__input-email-indicator.success {
  color: #3cbc81;
}
.work-together-form__input-email-indicator.invalid {
  color: #e74a3b;
}

.work-together-form__btn {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: none;

  color: var(--color-white);
  font-size: 16px;
}

.work-together-form__btn:focus {
  outline: none;
}

.work-together-contact__list {
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .work-together {
    padding-top: 48px;
  }

  .work-together__content {
    padding: 80px 32px 169px;

    background-image: url(../img/work-together/background-tablet.jpg);
  }

  .work-together__title-wrapper {
    max-width: 542px;
  }

  .work-together__image {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }

  .work-together__title {
    font-size: 64px;
  }

  .work-together-form {
    margin-bottom: 18px;

    flex-direction: row;
  }

  .work-together-form__field {
    flex-direction: row;
    gap: 32px;
  }

  .work-together-form__input {
    width: 245px;
  }

  .work-together-form__btn {
    width: 150px;
    height: 150px;
  }

  .work-together-contact__list {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .work-together {
    padding-top: 82px;
  }

  .work-together__content {
    padding: 80px 196px 169px;

    background-image: url(../img/work-together/background-desctop.jpg);
  }

  .work-together-form {
    gap: 86px;
  }

  .work-together-form__input {
    width: 390px;
  }
}
